In [6]:
a = 4
b = a * a               #Normal multiplication
c = a ** 0.5            #This is power, eg a^0.5
print(b, c)

16 2.0

Python uses dynamic typing and it's different from other languages which are statically typed. That means you can reassign variables to different data types.

In [7]:
b = 2.345
c = 'fa'
type(c)

str

To determine the type, we use type().

In [20]:
my_str1 = "'Hello'"
my_str2 = '"Hello"'
print(my_str1 + ', ' + my_str2)
print(my_str1, "\n", my_str2)
print(my_str1, "\t", my_str2)

'Hello', "Hello"
'Hello'
 "Hello"
'Hello' 	 "Hello"

To include ' we enclose the text in " and vise versa. \n for next line and \t for tab space.

In [22]:
len('I am')

4

In [27]:
ms1 = 'Testing'
print(ms1[3], '|', ms1[-3])

t | i

Notice that while reverse indexing the number starts from -1.

In [29]:
print(ms1[:3])

Tes

In [31]:
print(ms1[3:])

ting

In [34]:
print(ms1[3:6])

tin

In [43]:
ms2 = '0123456789'
print(ms2[::2])

02468

In [46]:
ms2 = '0123456789'
ms3 = 'abcdefghij'
print(ms2[2:8:2])
print(ms3[2:8:2])

246
ceg

Starts from 2 ('Starts from' always includes that index), till 8 ('to' doesn't include that index, so basically stops at one index before the specfied index(7 here)) and the last 2 is increment (here it increments in 2)

In [50]:
print(ms2[::-1])

9876543210

Trick to reverse a string. Negative(-) basically reverses the increments from backwards

In [53]:
a = 'a'
a * 10

'aaaaaaaaaa'

In [59]:
(a.upper() + ' ') * 10

'A A A A A A A A A A '

In [69]:
x = 'how are you dude'
x.split('u')

['how are yo', ' d', 'de']

---------------------------------------------------------------------Format [below]---------------------------------------------------------------------

In [64]:
print('My name is {}'.format('Pranath'))

My name is Pranath

In [66]:
print('Hi {} {} {}'.format('are', 'you', 'how'))

Hi are you how

In [70]:
print('Hi {2} {0} {1}'.format('are', 'you', 'how'))

Hi how are you

In [72]:
print('Hi {2} {2} {2}'.format('are', 'you', 'how'))

Hi how how how

In [74]:
print('Hi {c} {a} {b}'.format(a = 'are', b = 'you', c = 'how'))

Hi how are you

In [85]:
x = 97.782340945
print('Your score is {r:1.2f}'.format(r = x))

Your score is 97.78

------------------------------------------------------------------Fstring format [below]---------------------------------------------------------------

In [90]:
a = 'Pranath'
print(f'My name is {a}')

My name is Pranath

In [95]:
a = 'are'
b = 'you'
c = 'how'
print(f'Hi {a} {b} {c} ?')

Hi are you how ?

In [98]:
x = 97.782340945
print(f'Your score is {x:1.2f}')

Your score is 97.78

-------------------------------------------------------------------Lists [below]------------------------------------------------------------------------

In [6]:
Ml = ['one', 2, 3.000]
print(len(Ml[0]), Ml[1:], Ml[::2])

3 [2, 3.0] ['one', 3.0]

In [19]:
Ml = ['one', 2, 3.000]
Ml0 = ['four', 5.4343, "six"]
mm = Ml + Ml0
print(mm)

['one', 2, 3.0, 'four', 5.4343, 'six']

In [28]:
mm[0] = "ONE (Changed)"
print(mm)

['ONE (Changed)', 2, 3.0, 'four', 5.4343, 'six', 7]

You can mutate the new list, which is mm, which contains all the elements of Ml and Ml0.

In [30]:
mm.append(7)
print(mm)

['ONE (Changed)', 2, 3.0, 'four', 5.4343, 'six', 7]

In [31]:
mm.pop()
print(mm)

['ONE (Changed)', 2, 3.0, 'four', 5.4343, 'six']

In [38]:
ele = mm.pop(0)
print(mm)

[2, 'six']

In [2]:
nl = [3, 5, 8, 1, 2, 0]
nl0 = ['c', 'a', 'z', 'e', 'j', 'b']
nl.sort()
nl0.sort()
print(nl)
print(nl0)

[0, 1, 2, 3, 5, 8]
['a', 'b', 'c', 'e', 'j', 'z']

This sort's inplace

In [3]:
nl.reverse()
print(nl)

[8, 5, 3, 2, 1, 0]

------------------------------------------------------------------Dictionaries-------------------------------------------------------------------------

In [25]:
md = {'k1' : 'v1', 'k2' : 'v2'}
print(md['k1'])

v1

In [20]:
md0 = {'k1' : 1, 'k2' : 'two', 'k3' : 3.14, 'k4' : [4, 5, 6], 'k5' : {'a':7, 'b':8}, 'k6' : ['m', 'n', 'o', 'p']}
x = md0['k4'][1]     #to grab an element from a list that is inside of a dictionary
y = md0['k5']['a']   #to grab an item from a dictionary using it's key that is inside of a dictionary 
print(x, y)

5 7

In [23]:
print(md0['k6'][3].upper())

P

In [25]:
md0['k7'] = 'adding' #adding new key value pair to existing list.
print(md0)

{'k1': 1, 'k2': 'two', 'k3': 3.14, 'k4': [4, 5, 6], 'k5': {'a': 7, 'b': 8}, 'k6': ['m', 'n', 'o', 'p'], 'k7': 'adding'}

In [26]:
md0['k1'] = 'ONE1' #altering the value of the existing key of a dictionary
print(md0)

{'k1': 'ONE1', 'k2': 'two', 'k3': 3.14, 'k4': [4, 5, 6], 'k5': {'a': 7, 'b': 8}, 'k6': ['m', 'n', 'o', 'p'], 'k7': 'adding'}

In [28]:
#To retrieve only the keys we use
print(md0.keys())

dict_keys(['k1', 'k2', 'k3', 'k4', 'k5', 'k6', 'k7'])

In [30]:
#To retrieve only the values we use
print(md0.values())

dict_values(['ONE1', 'two', 3.14, [4, 5, 6], {'a': 7, 'b': 8}, ['m', 'n', 'o', 'p'], 'adding'])

In [31]:
#To retrieve the pairs of key/values we use
print(md0.items())

dict_items([('k1', 'ONE1'), ('k2', 'two'), ('k3', 3.14), ('k4', [4, 5, 6]), ('k5', {'a': 7, 'b': 8}), ('k6', ['m', 'n', 'o', 'p']), ('k7', 'adding')])

--------------------------------------------------------------------------Touples----------------------------------------------------------------------

In [33]:
                                                     #Lists are [], Touples are (), Dictionaries are {}
L = [1, 2, 3]
T = (1, 2, 3)
D = {'1':1, '2':2, '3':3}
print(type(L), type(T), type(D))

<class 'list'> <class 'tuple'> <class 'dict'>

Touples are immutable, once the values are assigned, it cannot be changed/altered

In [38]:
a = ('a', 'a', 'b', 'v', 'c')
print(a.count('a'), a.index('a'))            #Index is the very first occurence of that element.

2 0

-----------------------------------------------------------------------------Sets----------------------------------------------------------------------

Notes: 
Lists/Touples are ordered collection of elements
Dictionaries are unordered collections of elements
Sets are ordered collections of unique elements

In [43]:
ms = set()
ms.add(1)
print(ms)

{1}

In [45]:
ms.add(2)
print(ms)

{1, 2}

In [47]:
ms.add(2)                  #Adding the value that is already present in the set won't repeat it
print(ms)

{1, 2}

In [48]:
list = [1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,2,3,3,3,3,3,3,3,3,3]
Set = set(list)
print(Set)

{1, 2, 3}

The set might not return the same order that is present in the list, since we have less items here it returned the same order otherwise it wouldn't have.

In [49]:
letters = set('Pranath')
print(letters)

{'n', 't', 'h', 'r', 'a', 'P'}

As you can notice the order isn't same and the repeated letters are not repeated in the set. This can be a trick to retrieve the unique letters from a word

-------------------------------------------------------------------------Files--------------------------------------------------------------------------

 %%writefile only works in Jupyter Notebook

In [100]:
%%writefile egfile.txt
Hey yo, this is my file
This is my file only in 2nd line
This is my file only in 3rd line

Overwriting egfile.txt

In [58]:
pwd

'C:\\Users\\CSP\\Desktop\\Python'

In [60]:
F = open('egfile.txt')
print(F.read())

Hey yo, this is my file
This is my file only in 2nd line
This is my file only in 3rd line

In [62]:
print(F.read())

Now there's nothing visible when you try to read the file for the second time, it is because the cursor is at the end of the file, you have to reset it to the start in order to read the file again.

In [64]:
F.seek(0)                      #Seek helps you go to a certain point in the file
print(F.read())

Hey yo, this is my file
This is my file only in 2nd line
This is my file only in 3rd line

In [66]:
F.seek(0)
List = F.readlines()          #This converts each lines of the file into the elements of the lists
print(List)

['Hey yo, this is my file\n', 'This is my file only in 2nd line\n', 'This is my file only in 3rd line\n']

In [69]:
G = open("C:\\Users\\CSP\\OneDrive\\zd-mb.txt")
print(G.read())

Mood board
Users login
add zendesk for queries to this feature.
Anonymity at it's peak.
Immidiet sos posh.

Now that the file egfile.txt or zd-mb.txt files are open or used here, when you try to delete these files it might say that the file is being used somewhere or open in order to erradicate these type of problems we can do any of the following things

In [71]:
#First type
G.close()
F.close()

In [76]:
#Second type: this should be done at the beginning, so you are basically assigning the file to a variable and using it.
with open('egfile.txt') as var_file:
    contents = var_file.read()
    var_file.seek(0)
    contents0 = var_file.readlines()
print(contents)
print(contents0)

Hey yo, this is my file
This is my file only in 2nd line
This is my file only in 3rd line

['Hey yo, this is my file\n', 'This is my file only in 2nd line\n', 'This is my file only in 3rd line\n']

Modes [Click shift+tab to get the suggestion]

In [101]:
with open('egfile.txt', mode = 'a') as x:
    contents = x.write('This is my file only in 4th line')

In [102]:
with open('egfile.txt', mode = 'r') as y:
    yo = y.read()
    print(yo)

Hey yo, this is my file
This is my file only in 2nd line
This is my file only in 3rd line
This is my file only in 4th line

In [104]:
#If you want to append and read simultaneously you can use '+' in mode, here's the exampe of the same
with open('egfile.txt', mode='a+') as test:
    test.write('\nThis is my file only in 5th line')
    test.seek(0)
    r = test.read()
print(r)

Hey yo, this is my file
This is my file only in 2nd line
This is my file only in 3rd line
This is my file only in 4th line
This is my file only in 5th line
This is my file only in 5th line

In [1]:
#Using write(w) mode let's you either truncate the existing file and write the new stuff or create a new file and write on it if the file dosen't exist.
with open('egwritefile.txt', mode = 'w+') as ho:
    ho.write("This is the new file I've created")
    ho.seek(0)
    v = ho.read()
    print(v)

This is the new file I've created

----------------------------------------------------------------------Loops-------------------------------------------------------------

In [4]:
ls = [1, 2, 3, 4]
for i in ls:
    print(i)

1
2
3
4

In [6]:
for i in ls:
    if i % 2 == 0:
        print(i)
    else: 
        print('odd')

odd
2
odd
4

In [7]:
ls = [(1,2),(3,4),(5,6),(7,8),(9,0)]   #Touple hacking
for (a, b) in ls:
    print(a)
    print(b)

1
2
3
4
5
6
7
8
9
0

In [15]:
md = {'k1' : 'v1', 'k2' : 'v2', 'k3' : 'v3'}
for a, b in md.items():
    print(a, '-', b)

k1 - v1
k2 - v2
k3 - v3

In [1]:
x = 0
while x < 5:
    print(f'Tic Tic {x+1}')
    x += 1

Tic Tic 1
Tic Tic 2
Tic Tic 3
Tic Tic 4
Tic Tic 5

In [2]:
x = [1,2,3,4,5]
for i in x:
    if i == 3:
        print('c')
        break
        # continue
    print(i)

1
2
c

Use either break or continue in the above cell to understand how each of them works

for i in range('start', 'stop', 'increments') is the set of parameters that go in.

In [10]:
for i in range(0, 11, 2):
    print(i)

0
2
4
6
8
10

-----------------------------------------------------------------------Enumarate------------------------------------------------------------------------

In [13]:
for i in enumerate('Wordshit'):
    print(i)

(0, 'W')
(1, 'o')
(2, 'r')
(3, 'd')
(4, 's')
(5, 'h')
(6, 'i')
(7, 't')

In [15]:
for a, b in enumerate('Words'):
    print(a, '-', b)

0 - W
1 - o
2 - r
3 - d
4 - s

------------------------------------------------------------------------Zip-----------------------------------------------------------------------------

In [49]:
# Zip as the name suggests, is used to map/connect two or more lists
a = [1, 1, 3, 4, 4]
b = ['cat', 'mat', 'bat']
c = [(1.1, 1.2), (2.1, 2.2), (3.1, 3.2)]
print(zip(a, b, c))                                    #location in the memory where the zip values are stored
print(list(zip(a, b, c)))                              #list of the zip values stored

<zip object at 0x000001E4BF72CE40>
[(1, 'cat', (1.1, 1.2)), (1, 'mat', (2.1, 2.2)), (3, 'bat', (3.1, 3.2))]

In [40]:
myd = {1:1, 'b':2, 'c':3}
1 in myd                   #important thing, to check if the key and value is same in any dictionary, we can use this

True

In [53]:
#Min and Max fucntions
e = min(a)
f = max(a)
print(f'{e} is the minimum and {f} is the maximum no.')

1 is the minimum and 4 is the maximum no.

In [61]:
from random import shuffle as s
e = [1,2,3,4,5,6,7,8,9,10]
s(e)
print(type(s(e)))
print(e)

<class 'NoneType'>
[3, 8, 2, 4, 9, 1, 6, 5, 7, 10]

The shuffle happens inplace, so even if you see it's type, it says none. So it dosen't return anything.

In [63]:
from random import randint as r
a = r(0, 9)     #Min and max numbers as the parameters
print(a - 5)

1

In [66]:
res = input('Enter your ting\n')
print(res)
print(type(res))
# NOTE: the input always takes any values given as a string, you need to typecast if your want to change it's datatype.

Enter your ting
 23

23
<class 'str'>

-------------------------------------------------------------------List comprehension-------------------------------------------------------------------

In [8]:
a = 'My wordloud'
alist = [letters for letters in a]                      #By not using a variable to iterate through string and add it to the list
blist = [num**2 for num in range(1, 11)]
print(alist, '\n', blist)

['M', 'y', ' ', 'w', 'o', 'r', 'd', 'l', 'o', 'u', 'd']
 [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
even = [e**2 for e in range(0, 11) if e%2 == 0]               #Complex eg using if
print(even)

[0, 4, 16, 36, 64, 100]

In [14]:
#using if else in the above example
even = [e if e%2 == 0 else 69 for e in range(0, 11)]
print(even)

[0, 69, 2, 69, 4, 69, 6, 69, 8, 69, 10]

In [20]:
#---------------------------------------------------Nested for loop--------------------------------------------
a = [1, 2, 3]
b = [1, 10, 100]
c = []
for i in a:
    for j in b:
        c.append(i*j)
print(c)

[1, 10, 100, 2, 20, 200, 3, 30, 300]

In [26]:
#The above example in complex and oneliner
c = [i*j for i in a for j in b]
print(c)

[1, 10, 100, 2, 20, 200, 3, 30, 300]

-----------------------------------------------------------------Method & Functions---------------------------------------------------------------------

Hint: use shift+tab or use the help() function to understand the built in function.

In [76]:
def my_fucn(n = 2):                #Giving 2 as a default value for the parameter n, so that if nothing is passed to the function, it takes 2
    if(n % 2 == 0):
        return ('Even')
    else: 
        return ('Odd')
x = int(input('Enter your number\n'))
print(my_fucn(x))

Enter your number
 28

Even

In [73]:
#Function which returns true if the list contains atleast one even number and false otherwise
def even(list):
    for n in list:
        if n % 2 == 0:
            return True
    return False
print(even([1,3,5,3]))

False

------------------------------------------------------------------Touple unpacking with functions-------------------------------------------------------

In [113]:
def eom(l):
    a = 0
    b = ''
    for i, j in l:
        if a < j:
            a = j
            b = i
    return (b, a)
ll = [('a', 3), ('b', 3), ('c', 9)]
o,p = eom(ll)
print(f'{o.upper()} worked for {p} hours')

C worked for 9 hours

In [102]:
from random import shuffle
def Shuffle_cups(c):
    shuffle(c)
    return c

def cup_game():
    i = 0
    cups = Shuffle_cups([' ', ' ', 'C'])
    while i < 3:
        print(cups)
        cups = Shuffle_cups([' ', ' ', 'C'])
        print('Shuffling')
        x = take_guess()
        if cups[int(x)]  == 'C':
            print(cups)
            print('Hit')
            i = 3
        i += 1
    if i == 3:
        print(cups)
        print('Missed')  

def take_guess():
    x = None
    while x not in ['0', '1', '2']:
        x = input('Take your guess')
        if x not in ['0', '1', '2']:
            print('Invalid input, try again')
    else:
        return x

cup_game()

[' ', ' ', 'C']
Shuffling

Take your guess 1

[' ', ' ', 'C']
Shuffling

Take your guess 1

['C', ' ', ' ']
Shuffling

Take your guess 1

[' ', 'C', ' ']
Hit

------------------------------------------------------------------*args/**kwargs------------------------------------------------------------------------

In [40]:
#Arguments, key_word_arguments
def myfunc(a, b, c=0):
    return sum((a, b, c))* 0.05
print(myfunc(33, 67, 100))

10.0

Here we are restricted to only 2 arguments which we can pass. If we need to pass in multiple arguments, we can make use of args.
Args returns back a tuple
Kwargs returns back a dictionary

In [43]:
def myfunc(*args):
    return sum(args)* 0.05 
print(myfunc(33, 67, 100))
# As you can see we can have multiple arguments, without defining it as a parameter while passing it.

10.0

In [52]:
def funcfunc(**kwargs):
    print(kwargs)
    if 'a' in kwargs:
        print(f"Here is it's value {kwargs['a']}")
    else:
        print('No key no value')

In [54]:
funcfunc(a = 8, b = 69)

{'a': 8, 'b': 69}
Here is it's value 8

This keeps in dictionary as the parameters, if you can see it's stored as a dictionary when we print kwargs. And it does not complain when extra prameter is sent in.

In [67]:
# Using both the *args and **kwargs in a single function
def ffunc(*args, **kwargs):
    print(args)
    print(kwargs)
    print(f"Hey my name is {args[1]} and I'm {kwargs['a1']} years old")

In [68]:
ffunc('Rahul', 'Suresh', 'Ramesh', a = 21, a0 = 22, a1 = 21)

('Rahul', 'Suresh', 'Ramesh')
{'a': 21, 'a0': 22, 'a1': 21}
Hey my name is Suresh and I'm 21 years old

In [ ]:
--------------------------------------------------------------------Assignment Questions----------------------------------------------------------------

In [107]:
#I felt fucked up question, add everything excluding the no. b/w 6 to 9
def summer_69(arr):
    sum = 0
    flag = True
    for i in arr:
        # print(i, flag)
        if flag and (i != 6):
            sum += i
        else: 
            flag = False
            if i == 9:
                flag = True
    return sum
summer_69([2, 1, 6, 9, 11])

14

In [7]:
#Had the toughest time solving this, ever. I couldn't solve this simple problem
def count_primes(num):
    count = 0
    for i in range(num+1):
        # print(i)
        if prime(i):
            # print(i)
            count += 1
    return count - 2

def prime(n):
    if n < 2:
        return True
    for i in range(2, round(n**2)+1):
        if n%i == 0 and n != i:
            # print(n, i)
            return False
    return True

count_primes(100)

25

----------------------------------------------------------------Lamda, Map, Filter----------------------------------------------------------------------

In [2]:
#Map function basically executes a functions as many times as the number of elements we have in a list
Ls = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
#Let's say we need the square of all the elements of the list, we were using a for loop to iterate through the indices of the lists, but map does it for us. 
def myfunc(n):
    return n ** 2

res = list(map(myfunc, Ls))
print(res)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 0]

In [3]:
#Filter helps you skip a step which includes checking and adding only the required result to a new list. Meaning it does it for you.
def myfunc(n):
    return n%2 == 0

res = list(filter(myfunc, Ls)) 
print(res)

[2, 4, 6, 8, 0]

In [5]:
#Lambda is gambda, not recommended, all one liner bs, we can write the over code using lambda os follows
#Lambda is an anonyms function, you need not give it any name.
#Key points: Anonymous Function: It doesnt need a name. You define it as lambda, followed by parameters, a colon, and a single expression.
#            Single Expression: A lambda function can only contain one expression, not multiple lines of code. 
#                               It returns the result of this expression automatically, without needing an explicit return statement.
x = list(filter(lambda res: res%2 == 0, Ls))
y = list(map(lambda res0: res0 ** 2, Ls))
print(x)
print(y)

[2, 4, 6, 8, 0]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 0]

In [1]:
fs = ['Stingabong', 'Pingabong', 'Dingabong']
s = list(map(lambda fs: fs[0], fs))
print(s)

['S', 'P', 'D']

----------------------------------------------------------------------OOP-------------------------------------------------------------------------------

In [40]:
#Class example
class MyClass():
    def __init__(self, var):                 #Constructor, this is a constructor. This is called everytime an object is instantiated. In Python, the constructor is defined using the __init__ method
        self.myvar = var

type(obj)

__main__.MyClass

In [41]:
obj = MyClass('Hello') #This calls the constructor passing 'Hello' as the value.
obj.myvar = 'Silly'    #The variable is reassigned with a different value.
print(obj.myvar)

Silly

In [2]:
#Method 1 with constructor
class Mth():
    def __init__(self, a, b):
        self.a = a
        self.b = b
    def sums(self):
        return self.a + self.b

#Method 2 without constructor
class Mth1():

    def sums(self, a, b):
        self.a = a
        self.b = b
        return self.a + self.b

In [3]:
o = Mth(2, 3)
o.sums()

o1 = Mth1()
o1.sums(2, 3)

5

In [8]:
class cir():
    pi = 3.14                                          #Class object attribute
    def __init__(self, radius = 1):
        self.radius = radius
        self.area = cir.pi * (radius ** 2)             #Notice that you can also use class name to access the class object attribute

    def circum(self):                                  #Common mistake: Forgetting to pass self
        return 2 * cir.pi * self.radius

In [10]:
obj = cir()
print(obj.pi)
obj.circum()

3.14

6.28

-------------------------------------------------------------------------Inheritance--------------------------------------------------------------------

In [39]:
#We just pass the class which needs to be inherited(the base class) as the parameter to the class which is inheriting
class c1():

    def __init__(self):
        print('Welcome to school DB')

    def cl(self):
        print('8th std')

class c2(c1):                     #Inheriting c1 in c2

    def __init__(self):
        c1.__init__(self)         #Accessing the constructor, the same way we access the methods.
        print('Student')

    def sn(self):
        print('R')

    def cl(self):                 #This is function over-riding[cl is present in base class, which is overridden in the inherited class]
        print('1st std')

In [40]:
obj = c2()

Welcome to school DB
Student

In [41]:
obj.sn()

R

In [43]:
obj.cl()

1st std

----------------------------------------------------------------------Special methods-------------------------------------------------------------------

In [35]:
#Let's say we have our own class and we have to know it's lenght or string by using the built in functions. Then we use these special functions
class TeSt():
    def __init__(self, book, author, pages):
        self.book = book
        self.author = author
        self.pages = pages

    def __str__(self):                                          #In order to access the built in functions, we wrap '__' around those function
        return f"This is '{self.book}' by {self.author}"

    def __len__(self):
        return self.pages

    def __del__(self):
        print("The object of this class is successfully deleted")     #del doesn't return anything

In [36]:
ob = TeSt('Tinkle', 'Dumma', 50)
x = str(ob)
print(x)
len(ob)

This is 'Tinkle' by Dumma

50

In [37]:
del ob

The object of this class is successfully deleted

------------------------------------------------------------------------Error handling------------------------------------------------------------------

In [1]:
def dievide(n1, n2):
    return n1/n2

try:
    r = dievide(2, 2)
except:
    print("heyy, don't divide by zero man")
else:
    print(f"Here's the result: {r}")
finally: 
    print('Phew, good luck with your math mate')

Here's the result: 1.0
Phew, good luck with your math mate

In [13]:
try:
    f = open('egfile', 'r')                        #Change with r/w/'' to see different senarios
    f.write('This is my file only in 6th line')
except TypeError:
    print('Type error man')
except OSError:
    print('OS err man')
except:
    print('Yo, not OS not type, someother shi man')
finally:
    print('Phew, glad that you are done man')

OS err man
Phew, glad that you are done man

In [5]:
while True:
    try:
        int(input('Give me them nums man:'))
    except:
        print('I asked for them goddamn nums man')
    else:
        print("Thank-'f'inn-you")
        break
    finally:
        print("Phew, glad that I'm done with your shi man")

Give me them nums man: word

I asked for them goddamn nums man
Phew, glad that I'm done with your shi man

Give me them nums man: 32

Thank-'f'inn-you
Phew, glad that I'm done with your shi man

In [2]:
def ask():
    while True:
        try:
            r = (int(input('Input an integer:'))) ** 2
        except:
            print("An error occurred! Please try again!")
        else:
            print(f"Thank you, your number squared is: {r}")
            break
ask()

Input an integer: word

An error occurred! Please try again!

Input an integer: 2

Thank you, your number squared is: 4

====================================================================Decorators==========================================================================

In [3]:
def f1(some_func):
    def wrap():
        print('Something before executing')
        some_func()
        print('Something after executing')

    return wrap

In [15]:
@f1
def f2():
    print('Func passed')

In [14]:
Result = f1(f2) #This is returning a function, so we must run the function as done below.
Result()

Something before executing
Func passed
Something after executing

In [17]:
#We can use the same thing just by using '@' symbol which is decorators right before the func to be passed and then calling the function to be passed
f2()

Something before executing
Func passed
Something after executing

-------------------------------------------------------------------Generators--------------------------------------------------------------------------

You basically won't store anything. Just normally return the result as is

In [8]:
#Yield is the key-word for generators, this is something that I was actually looking for in other programming languages

def fibbon_normal(n):                       #Normal, withould using 'Yield' (Generators)
    a = 1
    b = 1
    res = []
    for i in range(n):
        res.append(a)
        a = b
        b = a+b
    return res

def fibbon(n):                              #Using 'Yield' (Generators)
    a = 1
    b = 1
    for i in range(n):
        yield a
        a, b = b, a+b

In [9]:
print(list(fibbon_normal(10)))

[1, 1, 2, 4, 8, 16, 32, 64, 128, 256]

In [6]:
#next function remembers the value and iterates to the next value
def func_next():
    for i in range(3):
        yield i

g = func_next()
print(next(g))
print(next(g))
print(next(g))

0
1
2

In [8]:
#In order to use the next fucn on a string, you first have to have the iter form of that string. You can acheive it by passing you're string to iter fnc
sstr = 'Pranath'
sstr_iter = iter(sstr)
print(next(sstr_iter))
print(next(sstr_iter))

P
r

--------------------------------------------------------------------------Advanced py modules-----------------------------------------------------------

In [36]:
#1. Collection modules
#Counter
from collections import Counter
ls = ['a','a','a','a','a','a',2,2,2,2,2,3,3,3,3,3,4]
print(ls.count('a'))                                #This gives you the count of the elements in the list
a = Counter(ls)                            #This gives you a complete dictionary of keys as elements of list and it's count as item
print(a)
#NOTE: The 'C' in the counter is capital

6
Counter({'a': 6, 2: 5, 3: 5, 4: 1})

In [40]:
#You can use this to check the count of the words that are present in the sentence
sent = 'Hey you man bro how the hell have you been man Shi'
Counter(sent.lower().split(' '))

Counter({'you': 2,
         'man': 2,
         'hey': 1,
         'bro': 1,
         'how': 1,
         'the': 1,
         'hell': 1,
         'have': 1,
         'been': 1,
         'shi': 1})

In [46]:
str = 'asdddddddssssaabbbbbbkkkkk'
c = Counter(str)
print(c.most_common())
print(c.keys())
print(c.values())
print(c.items())

[('d', 7), ('b', 6), ('s', 5), ('k', 5), ('a', 3)]
dict_keys(['a', 's', 'd', 'b', 'k'])
dict_values([3, 5, 7, 6, 5])
dict_items([('a', 3), ('s', 5), ('d', 7), ('b', 6), ('k', 5)])

In [8]:
#Difference b/w std dict and defaultdict - If there's no key present in the std dict, it gives an error.
stddict = {'a': 1, 'b': 2}
print(stddict['c'])

KeyError: 'c'

In [10]:
from collections import defaultdict
defdict = defaultdict(lambda: 0)
defdict['first'] = 1
print(defdict['second'])
print(defdict)

0
defaultdict(<function <lambda> at 0x000002928D34DC60>, {'first': 1, 'second': 0})

In [18]:
# let's say you have lots of elements in the tuple, you can't remember its index. We use namedtuple
from collections import namedtuple
student = namedtuple('RNS', ['Name', 'USN', 'Branch'])
A = student('A', 1, 'IS')
print(A.USN)                                   # You can access it with the given names
A[1]                                           # You can access it via index like a normal tuple

1

1

-----------------------------------------------------------Opening and moving file----------------------------------------------------------------------

In [31]:
import os
os.getcwd()
os.listdir('C:\\Users\\')
# os.listdir()

['All Users', 'CSP', 'Default', 'Default User', 'desktop.ini', 'Public']

In [43]:
#We already know how to open/read/write a file
file = open('OSmod.txt', 'w+')
file.write("This is a test file, and I'm writing something into it")
file.seek(0)
print(file.read())
file.close()

This is a test file, and I'm writing something into it

In [34]:
#Now we'll see how to move files around
import shutil as sh
sh.move('OSmod.txt', 'C:\\Users\\CSP\\Desktop\\Python\\OS Module') #Parameters are (src, dest)

'C:\\Users\\CSP\\Desktop\\Python\\OS Module\\OSmod.txt'

In [36]:
os.listdir('C:\\Users\\CSP\\Desktop\\Python\\OS Module') #Confirmation that the file has been moved

['OSmod.txt']

In [44]:
#We have three ways to delete the file:
#1. os.unlink() - This removes the files NOTE: os.remove() is same as this
#2. os.rmdir() - This deletes the folder. NOTE: For deleting the folder, the folder must be empty[Nothing should be present inside the folder]
#3. sh.rmtree() - Most dangerous one, since you can't retrive back the deleted folder. It will not be present in recycle bin aswell

In [51]:
os.unlink('C:\\Users\\CSP\\Desktop\\Python\\OS Module\\OSmod.txt')

In [52]:
os.remove('C:\\Users\\CSP\\Desktop\\Python\\OS Module\\OSmod0.txt')

In [53]:
os.rmdir('C:\\Users\\CSP\\Desktop\\Python\\OS Module')

In [54]:
#Not present in recycle bin as well
sh.rmtree('C:\\Users\\CSP\\Desktop\\Python\\Testrmtree')

In [57]:
#Now you can't always use sh.rmtree()
#The safe way to handle this is by using send2trash. You need to install send2trash for importing it. You can use pip to install the same
import send2trash
send2trash.send2trash('deleg')
#This goes to recycle bin.

In [77]:
#The tuple unpacking done from the walk function is dirpath, dirnames, filenames. In this eg it's a, b and c
for a, b, c in os.walk('C:\\Users\\CSP\\Desktop\\Python\\py_in_sublime\\Package1'):
    print(f"We are in: {a}\n")
    print("The subfolders are:")
    for j in b:
        print("\t",j)
    print()
    print("The files are:")
    for i in c:
        print("\t",i)
    print()

We are in: C:\Users\CSP\Desktop\Python\py_in_sublime\Package1

The subfolders are:
	 Package2
	 __pycache__

The files are:
	 sinp1.py
	 __init__.py

We are in: C:\Users\CSP\Desktop\Python\py_in_sublime\Package1\Package2

The subfolders are:
	 __pycache__

The files are:
	 ifmain.py
	 sinp2.py
	 __init__.py

We are in: C:\Users\CSP\Desktop\Python\py_in_sublime\Package1\Package2\__pycache__

The subfolders are:

The files are:
	 ifmain.cpython-312.pyc
	 sinp2.cpython-312.pyc
	 __init__.cpython-312.pyc

We are in: C:\Users\CSP\Desktop\Python\py_in_sublime\Package1\__pycache__

The subfolders are:

The files are:
	 sinp1.cpython-312.pyc
	 __init__.cpython-312.pyc

--------------------------------------------------------------Date Time---------------------------------------------------------------------------------

In [83]:
import datetime
time = datetime.time(10, 1, 20, 5)
print(time)
print(time.hour)
print(time.minute)
print(time.second)
print(time.microsecond)

10:01:20.000005
10
1
20
5

In [92]:
date = datetime.date(2024, 11, 4)
print(date)
print(date.year)
print(date.month)
print(date.day)

date0 = datetime.date.today()
print(date0)
print(date0.year)
print(date0.month)
print(date0.day)

2024-11-04
2024
11
4
2024-11-03
2024
11
3

In [2]:
#To have both the date and time
from datetime import datetime
stamp = datetime(2024, 11, 4, 10, 12, 30, 5)
print(stamp)

#This is some ctime
today = datetime.today()
a = today.ctime()
print(a)

2024-11-04 10:12:30.000005
Mon Nov  4 10:35:46 2024

In [14]:
#You can also replace any parameter in datetime that we have created above. This does not make changes in-place 
res = stamp.replace(year=2020, month=5)
print(res)

2020-05-04 10:12:30.000005

In [41]:
from datetime import date, datetime
d1 = date(2024, 12, 31)                           #This takes in only the date
d2 = date(2024, 1, 1)
res = d1 - d2
print(res)
print(res.days)

d3 = datetime(2024, 12, 31, 23, 0)                #This takes in date as well as time
d4 = datetime(2024, 12, 30, 13, 0)
res0 = d3 - d4
print(res0)
print(res0.days)
print(res0.seconds, res0.total_seconds())

365 days, 0:00:00
365
1 day, 10:00:00
1
36000 122400.0

-------------------------------------------------------------Math and random----------------------------------------------------------------------------

In [46]:
from random import randint
a = [randint(0, 100) for _ in range(5)]
print(a)

[10, 100, 32, 80, 62]

In [65]:
#Let's say for testing we want same set of random number to be appended into the list. We use seed to achieve this
import random
random.seed(101)
a = [randint(0, 100) for _ in range(5)]
print(a)
a = [randint(0, 100) for _ in range(5)]
print(a)

[74, 24, 69, 45, 59]
[6, 84, 64, 27, 77]

In [83]:
#Choosing one random item from the list of items
ls = [i for i in range(21)]
print(ls)
a = random.choice(ls)
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
4

In [89]:
#Choosing multiple items form the list of items
#Allowing repetation 
b = random.choices(ls, k=10)
print(b)
#Not allowing repetation
c = random.sample(ls, 10)
print(c)

[14, 14, 7, 13, 11, 2, 11, 6, 14, 15]
[7, 13, 6, 14, 9, 1, 3, 0, 16, 5]

-----------------------------------------------------------------------Python Debugger------------------------------------------------------------------

In [6]:
#Earlier 
import pdb
v1 = [2, 3, 4]
v2 = 2
v3 = 4
one = b + c
pdb.set_trace()
two = a + b

--Return--
None
> c:\users\csp\appdata\local\temp\ipykernel_6632\3532300969.py(7)<module>()

ipdb>  v1

[2, 3, 4]

ipdb>  v2

2

ipdb>  v3

4

ipdb>  one

6

ipdb>  two

*** NameError: name 'two' is not defined

ipdb>  q

-------------------------------------------------------------Regular expression-------------------------------------------------------------------------